<div class="container">
  <%= render 'shared/flash' %>
  <div class="row">
    <div class="col">
      <h1><%= @post.title %></h1>
      <p><%= @post.text %></p>
      <%= link_to "edit", edit_post_path(@post), class: "btn btn-success"%>
      <%= link_to "back", root_path, class: "btn btn-primary" %><br>
    </div>
  </div>
</div>